// Шрифты

$deafult-font:          'Roboto', sans-serif;
$symbol-font:           'Segoe UI Emoji';

// Размер шрифта

$small-font:            .7rem;

// Цвета

$black-color:           #000;
$white-color: 	        #fff;

$gray-color:            #f9f9f9;
$dark-gray-color:       #9f9f9f;


$yellow-color:          #febb22;
$red-color:             #d90a2c;

$violet-light-color:    #958aBf;
$violet-color:          #625c7a;
$blue-color:            #3f60a9;
$dark-blue-color:       #13244e;
