.header {
  @include image-gif(head, 1032px, 500px, head_overlay);
  background-position: 0 30%;

  &__top {
    width: 100%;

    h1 {
      border-bottom: 1px solid rgba($white-color, .4);

      padding-bottom: 1vh;
    }

    h2 {
      font-weight: 200;
      margin-top: 1vh;
    }
  }

  &__bottom {
    width: 100%;
    padding-top: 12vh;

    h1.bold {
      margin-bottom: 8px;
    }

    .orderBlock {
      &__discount {
        @extend %border-box;

        position: relative;

        width: 40%;
        height: 110px;
        background: rgba($black-color, .5);

        padding: .95em 0;

        &::after {
          position: absolute;
          content: '';

          left: -21px;
          top: 0;

          width: 21px;
          height: 110px;
          background: rgba($black-color, .5);

          z-index: -1;
        }

        p {
          margin: -10px 0 0;
        }
      }

      &__button {
        position: relative;
        width: 60%;

        &::after {
          position: absolute;
          content: '';

          left: 0;
          top: 0;

          width: 50%;
          height: 110px;
          background: rgba($black-color, .5);

          z-index: -1;
        }

        .btn {
          width: 100%;
        }
      }
    }
  }
}