body {
  font-family: $deafult-font;
  font-size: 100%;
  line-height: 1.3;
  color: $white-color;
}

h1 {
  font-size: 4.5em;
  font-weight: 300;
  font-variant: small-caps;
  line-height: 1;

  @extend %no-margin;
}

h2 {
  font-size: 2.85em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;

  @extend %no-margin;
}

h3 {
  font-size: 2.6em;
  @extend %no-margin;
}

p {
  font-size: 2em;
  font-weight: 300;
}

a {
  color: $yellow-color;

  @include transition();
}

a:hover {
  color: lighten($yellow-color, 30%);
  text-decoration: none;
}