// Шрифты

$deafult-font: 		 'Josefin Sans', sans-serif;

// Цвета

$black-color:       #000;
$dark-gray:         #121212;

$white-color: 	    #fff;

$yellow-color:      #ffd200;

// Размер

$body-size:         34px;


