// Шрифты

$default-font:          'Roboto', sans-serif;

// Размер шрифта

$header-size:           3rem;
$default-size:          1.2rem;
$small-size:            .9rem;

// Цвета

$black-color:             #000;

$gray-dark-color-1:       #282828;
$gray-dark-color-2:       #3e3e3e;
$gray-color:              #707070;
$gray-light-color-1:      #c1c1c1;
$gray-light-color-2:      #c4c4c4;
$gray-light-color-3:      #cdcdcd;
$gray-light-color-4:      #e5e5e5;
$gray-light-color-5:      #ececec;
$gray-light-color-6:      #f1f1f1;
$gray-light-color-7:      #f8f8f8;

$white-color: 	          #fff;

$green-color:             #1bb12a;
$red-color:               #e02222;
$violet-color:            #4557a1;
$violet-light-color-1:    #d6ddf8;
$violet-light-color-2:    #d6ddf8;

